body {
    font-family: Roboto, sans-serif;
    color:#434455;
    background-color:#fff;
} 
ul,ol {
    list-style-type: none;
    padding-left:0;
    margin-top:0;
    margin-bottom:0;
}
h1,h2,h3,h4,h5,h6,p {
    margin-top:0;
    margin-bottom:0;
}
a {
    text-decoration:none;
    margin-left:0;
}
img {
    display:block;
    max-width: 100%;
    height:auto;
}
.container {
    max-width:1158px;
    margin:0 auto;
    padding:0 15px;

}
.header {
    border-bottom:1px solid #8e8f99;
}
.contacts {
    font-style: normal;
}
.tel-mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    
}

.tel-mail:focus,
.tel-mail:hover {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#404bbf;
}

 .contacts {
    display:flex;
    margin-left:auto;
    gap:40px;
 }





 
 .st-section {
    background-color: #2e2f42;
        padding:188px 0;
}

.main-title {
   max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff; 
    margin-left:auto;
    margin-right: auto;
    padding-top:188px;
    padding-bottom:48px;
    margin-bottom:48px;
}
button {
    cursor:pointer;
    
} 
.order-button {
    min-width:169px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color:#4D5AE5;
    margin:0px auto;
        padding:16px 32px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: block;
}

.order-button:focus,
.order-button:hover {
background-color:#404BBF;
}
a {
    color:#2E2F42;
}
.header-container {
    display: flex;
    align-items:center;
}
.nav-list {
    display:flex;
    gap: 40px;
}
.navigation {
display: flex;
align-items:center;
}

.logo {
    font-family:"Raleway", sans-serif;
    font-weight:700;
    font-size:18px;
    line-height:1.17;
    letter-spacing:0.03em;
    text-transform:uppercase;
    color:#4D5AE5;
    margin-right:76px;
  
}
.logo-part {
color: #2e2f42;
}

 .nav-list .header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-item {
    padding-top:24px;
    padding-bottom:24px;
    display:block;
}
.header-item:hover {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    color: #404bbf;
}
.header-item:focus {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    color: #404bbf;
}




.nd-section {
    padding-top: 167px;
    padding-bottom: 58px;
}
.advantages {
display: flex;
 gap: 24px;
 border: 1px solid #8e8f99;
 border-right: 1px solid #8e8f99;
}
.ad-items {
    width: calc((100% - 72px) / 4)
}
.advantages-titles {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
} 
.advantages-item {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.h2-hidden {
    visibility: hidden;
}




.rd-section {
   background-color: #F4F4FD;
   padding-bottom:62px;
padding-top: 58px;
}
   .rd-section-item {
    background-color: #FFFFFF;
    display:flex;
    gap:24px;
    width: calc((100% - 72px) / 4)
}
.team-main {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42; 
        padding-bottom: 72px;
        padding-top: 120px;
}
        .team-ul {
            
            display:flex;
            gap: 24px;
        }

.team-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.team-position {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.th-section {
    padding-top:62px;
}
.portf-title {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portf-descr {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.advice {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
.logo-footer {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-page {
    background-color: #2e2f42;
}
